@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 0.9em;
  font-style: normal;
}

.flaticon-arrow-down:before { content: "\f100"; }
.flaticon-arrow-right:before { content: "\f101"; }
.flaticon-date:before { content: "\f102"; }
.flaticon-email:before { content: "\f103"; }
.flaticon-phone-solid:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-rooms:before { content: "\f106"; }
.flaticon-marker:before { content: "\f107"; }
.flaticon-phone-outline:before { content: "\f108"; }

img,
object,
video {
  max-width: 100%;
  height: auto;
}

body {
  background: #ffffff;
  margin: 0 auto;
  padding: 0em;
  font-size:10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity:0.9;
}

dl dt {
    font-size: 4.5em;
    color: #e6003e;
    border-bottom: 1px dotted #e6003e;
}
dl dd {
  margin:1.6em 0 0 0;
  font-size:1em;
  line-height: 1.414;
}

dl dd ul li, dl dd ol li {
    font-size: 1.8em;
    margin-bottom: 0.6em;
    line-height: 1.414;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* Start Custom Styles */

header {
    z-index: 9999999;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    align-content: center;
}

.logo {padding:16px;}

header ul .phone {
    font-size: 3.2em;
    font-weight: 600;
    color: #ffffff;
    font-family:Nunito;
}

header ul .phone span:before {font-size:1em;}

header ul {
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
    padding:0px;
}

header ul li {
    list-style: none;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

input {
	outline: none;
}

select {
    width: 100%;
    background: none;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.6em;
    padding: 11px 20px 32px 20px;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}

h1 {font-size:6.4em; line-height:1.414; margin:0px; font-family:Nunito;}
h2 {font-size:4.5em; line-height:1.414; margin:0px; font-family:Nunito;}
h3 {font-size:3.2em; line-height:1.414; margin:0px; font-family:Nunito;}
h4 {font-size:2.3em; line-height:1.414; margin:0px; font-family:Nunito;}
h5 {font-size:1.8em; line-height:1.414; margin:0px; font-family:Nunito;}
h6 {font-size:1.6em; line-height:1.414; margin:0px; font-family:Nunito;}
p {font-size:1.6em; line-height:1.414; margin:0px 0px 16px; font-family:Nunito Sans;}

.flex-row {
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 75vw;
    margin: 0 auto;
}

.banner {
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    height: 50vw;
    padding: 0;
    display: flex;
    color: white;
    background: black;
    flex-direction: column;
    width: 100%;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.banner .callout {
    height: 100%;
    padding-right: 9vw;
    margin-top: -4.5vw;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-self: flex-end;
    box-sizing: border-box;
}

.banner h1 {
    font-size: 6.4vw;
    font-family: Nunito;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    width: 100%;
    width: max-content;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.banner h1 span {color:#e10b3c;}

#content {
    background: white;
    font-size: 10px;
    font-family: Nunito;
    padding: 0;
    font-weight: 300;
    line-height: 1.414;
    /*display:flex;*/
}


.flex-content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  -webkit-justify-content: center;
  justify-content:center;
  flex-direction:column;
  width: 50%;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: -o-min-content;
  width: -ms-min-content;
  width:min-content;
}

#panel-1 {
  background:white;
  padding:9em 4.5vw;
  text-align:center;
  width:100%;
  box-sizing:border-box;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  -webkit-justify-content: center;
  justify-content:center;
  margin-top: -32px;
}

.service {
    width: min-content;
    margin:0 auto;
}
/*.active {display:block!important;}*/

#panel-1 h2 {
    color:#e6003e;
    font-weight:600;
    font-family: Nunito;
    line-height:1.414;
    margin:0;
    padding:0 11vw;
    font-size:3.2em;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: -ms-max-content;
    width:max-content;
}
#panel-1 p {
    color: #000000;
    font-weight: 300;
    font-family: Nunito Sans;
    line-height: 1.414;
    font-size: 2.3em;
}

#panel-1 a, #panel-3 a {color:#e6003e; font-size:1.8em; font-family: Nunito; line-height:2.828; font-weight: 800; text-transform:uppercase;}

#panel-1 button {
    border: 2px solid #e10b3c;
    padding: 1.1em;
    color: #e10b3c;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 32px;
}

#panel-1 .left-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#panel-1 .center-btn {
    border-left:0px;
    border-right:0px;
    margin:0px -2px 32px;
}

#panel-1 .right-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#panel-2 {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 3.2vw 1vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#panel-2 ul {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: space-evenly;
    width: 100%;
    text-align: center;
    list-style: none;
    padding:0;
}
#panel-2 ul li .icon { float:left; margin:0 0 5px 0; width:100%; height:60px; display:table-cell; vertical-align:middle; text-align:center;}
#panel-2 ul li .icon img { max-width:100%;}
#panel-2 ul li .txt { float:left; width:100%; text-align:center;}
#panel-2 ul li h1 {
    float: left;
    width: 100%;
    margin: 0;
    color: #272727;
    font: 900 2.3em Nunito Sans;
    background: url(/images/ppppp.png) no-repeat right 0px center;
}
#panel-2 ul li p {
    color: #e6003e;
    font: 300 1.6em Nunito Sans;
}
#panel-2 ul li:last-child h1 { background:none; }


#panel-3 {
    background: #ffffff;
    padding: 9em 4.5vw;
    text-align: left;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#panel-3 h3 {
    font-family: Nunito;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1.414;
    margin: 0;
    padding: 0 10vw 0 0;
    color: #595959;
}
#panel-3 h3 {
    font-size: 3.2em;
    width: auto;
    padding: auto;
}
#panel-3 p {
    color: #232323;
    font-weight: 300;
    font-family: Nunito Sans;
    line-height: 1.414;
    font-size: 2.3em;
}

#panel-4 {
    background: #232323;
    padding: 9em 4.5vw;
    text-align: left;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#call-out {
    width: 50%;
    align-self: flex-start;
    margin-top: 5vw;
    color: white;
}

#call-out a {font-size:2.3em; color:#e6003e; font-weight:900; margin-bottom:23px;}

#cta-form {
    flex-direction: column;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
    width: calc(30% + 200px);
}

#regForm {
    margin-top: 45px;
    max-width: 32vw;
}


/* Mark input boxes that gets an error on validation: */
#regForm input.invalid {
  border-color: #e6003e;
}

/* Hide all steps by default: */
#regForm .tab {
  display: none;
  flex-direction: row;
}

#regForm button:hover {
  opacity: 0.8;
}


#regForm input {
    background: none;
    border: 0px;
    padding: 16px;
    width:100%;
    font-size: 2.3em;
    color: white;
    border-bottom: 2px dashed white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    font-family: nunito;
    font-weight: 600;
    box-sizing:border-box;
}

#cta-form input[type=text], #cta-form input[type=email], #cta-form input[type=date], #cta-form .inputText, #cta-form textarea {
    border: 0px;
    background: none;
    border-bottom: 2px solid white;
    border-radius:0px;
    padding: 16px 0px;
    color: white;
    font-size: 1.6em;
    font-family:Nunito;
    width:100%;
    width: -webkit-fill-available;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"]:focus,
input[type="text"]:not(:focus):valid,
input[type="email"]:focus,
input[type="email"]:not(:focus):valid,
input[type="phone"]:focus,
input[type="phone"]:not(:focus):valid {border-color:#e6003e;}
input[type="date"]:focus,
input[type="date"]:not(:focus):valid {border-color:#e6003e;}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

#cta-form ::-webkit-input-placeholder, #regForm ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
#cta-form ::-moz-placeholder, #regForm ::-webkit-input-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
#cta-form :-ms-input-placeholder, #regForm ::-webkit-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
#cta-form :-moz-placeholder, #regForm ::-webkit-input-placeholder { /* Firefox 18- */
  color: #ffffff;
}
#prevBtn {display: none!important;}
#cta-form input[type=submit], #regForm #nextBtn {
    border:0px solid white;
    border-radius: 300px;
    color: #ffffff;
    background:#e6003e;
    margin-top:23px;
    width:100%;
    padding: 1.1em 1.6em;
    font-size: 1.8em;
    font-family: Nunito;
    font-weight: 600;
    text-transform: uppercase;
}

#cta-form div {
  position: relative;
  padding-bottom: 23px;
}

#regForm div {
    position: relative;
    width:100%;
    padding-bottom: 0;
}

#select-span .floating-label {
    top: 9px;
}

#cta-form .floating-label, #regForm .floating-label {
  color:white;
  font-family:Nunito;
  font-size: 1.6em;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 4px;
  transition: 0.2s ease all;
}

#cta-form input:focus ~ .floating-label, #regForm input:focus ~ .floating-label, #cta-form input:not(:focus):valid ~ .floating-label, #regForm input:not(:focus):valid ~ .floating-label {
  top: -7px;
  color:#e6003e;
  font-size: 1.1em;
  font-weight:600;
}

#cta-form button {
    background: white;
    border-radius: 300px;
    color: #e6003e;
    padding: 1.1em 2.3em;
    font-size: 1.8em;
    border: 4px solid white;
    font-family: Nunito;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    width:100%;
    width:-webkit-fill-available;;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#cta-form button span {padding-left:23px;}

#panel-3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    padding: 0;
    line-height:0;
}

.text-content {
    padding: 0 4.5vw;
    width: 50%;
    box-sizing: border-box;
}

.img-content {
    width: 50%;
    box-sizing: border-box;
}

.img-content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*Footer Start*/

.footer {float:left; width:100%; background:#e60d43; padding:30px; position:relative; box-sizing:border-box;}
.footer .container {display:flex;   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */ flex-direction:row; justify-content:space-between; max-width:1170px; margin:0 auto;}
.footer .ftrDiv {display:flex; flex-direction:column;   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */}
.footer .ftrDiv h2 { color:#fff; font:400 15px/20px 'Lato', sans-serif; margin:0 0 15px 0; padding:0; text-transform:uppercase; text-transform:1px;}
.footer .ftrDiv p {font-size:1.3em; margin:0 0 7px 0; padding:0; color:#ffb2c5;}
.footer .ftrDiv a {font-family:Nunito; font-size:1.1em; margin:0; padding:0; color:#ffb2c5;}
.footer .ftrDiv img { margin-bottom:15px;}

.footer .footer-bottom { float:left; width:100%; text-align:center; margin:20px 0 0 0; padding:25px 0 0 0; border-top:1px solid #e85d82;}
.footer .footer-bottom p { color:#ffd2dd; font-size:1.3em; margin:0;}
/*Footer End*/


@media only screen and (min-width: 768px) and (max-width: 1024px) {

.banner {height:100vw;}
#panel-1 .left-btn, #panel-1 .center-btn, #panel-1 .right-btn {font-size: 0.82em; background:white;}
#panel-1 a, #panel-3 a {font-size:1.6em;}
#cta {flex-direction:column;}
#cta-form {width:100%;}
#call-out {width:100%; margin-top:0px;}
#panel-3 {flex-direction: column;}
.text-content {width:100%; padding:9em 4.5vw;}
.img-content {width:100%;}
#panel-4 {flex-direction:column;}
.mobile-hide {display:none;}
#regForm {max-width:100%;}
#regForm .tab {flex-direction: column;}
#regForm div {margin-bottom:23px;}
}

@media only screen and (max-width: 767px) {

/*header {margin-bottom:45px;}*/
header ul .phone {font-size:3.2em; margin-left:23px;}

.banner {
    height: 180vw;
    width: 100%;
    padding: 15px 15px 30px;
    box-sizing: border-box;
}

.banner .callout {
    width:100%;
    padding:0 4.5vw;
    text-align:center;
}

.banner h1 {
    font-size: 14.4vw;
    padding: 0px;
    width: 100%;
    /*margin-top: 45px;*/
}

h2 {
    font-size: 3.2em;
}
h3 {
    font-size: 2.3em;
}
#panel-2 img {
    max-width: 50%;
    max-height: 45px;
    padding: 10px;
}
.flex-content {width:100%;}
#panel-1 {text-align:center; margin-top: -32px;}
#panel-1 h2 {width:100%; padding:0; text-align: center;}
#panel-1 p {text-align: center;}
#panel-1 a, #panel-3 a {font-size:1.6em; text-align:center; width:100%;}
#panel-1 .left-btn, #panel-1 .center-btn, #panel-1 .right-btn {font-size: 0.82em; background:white;}
.service {width:100%;}
#panel-3 {flex-direction:column;}
.text-content {width:100%; padding:9em 4.5vw;}
.img-content {width:100%}
.mobile-hide {display:none;}

#panel-2 ul li h1 {background-size: 12%;}
#panel-4 {flex-direction:column;}
#call-out {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.footer .container {flex-direction:column;}
#regForm {max-width:100%;}
#regForm div {margin-bottom:23px;}
#regForm .tab {flex-direction: column;}
.footer .ftrDiv img {margin-top: 32px;}
}