        <div id="call-out">
            <h3>{{ page.panel-4-title }}</h3>
            <p>{{ page.panel-4-body }}</p>
            <a href="#name-2" id="link" class="hvr-forward">Fill out your contact information <span class="flaticon-arrow-right"></span></a>
        </div>
        <div id="cta-form">
            <div>
              <span class="blocking-span">
                <input type="text" name="name" id="name-2" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-user"></span> Full Name</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="email" name="email" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-email"></span> E-mail</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="phone" name="phone" id="phone-2" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-phone-solid"></span> Phone</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="text" name="zip-from" id="zip-from-2" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-marker"></span> Moving From</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="text" name="zip-to" id="zip-to-2" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-marker"></span> Moving to</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="number" name="rooms" id="rooms" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-rooms"></span> Number of Rooms</span>
              </span>
            </div>
            <div>
              <span class='blocking-span'>
                <input type="text" name="date-2" id="date-2" class="inputText" required/>
                <span class="floating-label"><span class="flaticon-date"></span> Date of Move</span>
              </span>
            </div>
            <button type="submit"> Let's Get Started <span class="flaticon-arrow-right"></span></button>
        </div>